# Database configuration
DB_HOST=localhost
DB_DATABASE=proyecto
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
APP_URL=http://localhost/Proyecto_AplicacionWeb_PHP/public

# Remember Me
REMEMBER_ME_ENABLED=true
REMEMBER_ME_TTL_DAYS=30
REMEMBER_ME_COOKIE_NAME=remember_token

# Session
SESSION_LIFETIME=120
